

.all-projects-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px 0 50px 0;
}

.project-container {
    padding: 30px;
    color: black;
    width: 100%;
    max-width: 520px;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
    /* align-items: ; */
    flex-direction: column;
}
.project-container:hover {
    box-shadow: 0 15px 30px rgb(0 0 0 / 50%); 
    transform: translateY(-3px);
}
.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.project-status {
    padding: 4px;
    border: 1px solid black;
    border-radius: 40px;
}
.project-heading h2 {
    font-weight: 700;
    margin-left: 10px;
}
